@{
    ViewBag.Title = "Family Members";
}

<div style="font-family:Arial">
    <h2>Family Members:</h2>
    <ul>
        @foreach (var member in ViewBag.Members)
        {
            <li>
                @member
            </li>
        }
    </ul>
</div>