@model IEnumerable<AJAX.Models.Property>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SoldDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SoldDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
    </tr>
}

</table>
