@model MVCDemo.Models.Company

@{
    ViewBag.Title = "Company Details";
}

<h2>Company Details</h2>
<table>
    <tr>
        <td><b>Code:</b></td>
        <td>@Model.Code</td>
    </tr>
    <tr>
        <td><b>Name:</b></td>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <td><b>Group:</b></td>
        <td>@Model.Group</td>
    </tr>
</table>