@model IEnumerable<MVCDemo.Models.Company>
@using MVCDemo.Models;

@{
    ViewBag.Title = "Company List";
}

<div style="font-family:Arial">
    <h2>Display</h2>
    <ul>
        @foreach (Company company in @Model)
        {
            <li>
                @Html.ActionLink(company.Code, "Details", new { id = company.Code })
            </li>
        }
    </ul>
</div>