@using MVCDemo.Models;

@model IEnumerable<Company>

@{
    ViewBag.Title = "Company List";
}

<div style="font-family:Arial">
    <h2>Company List</h2>
    <ul>
        @foreach (var company in @Model)
        {
            <li>
                @Html.ActionLink(company.Code, "Details", new { code = company.Code })
            </li>
        }
    </ul>
    @Html.ActionLink("Back to Group List", "List", "Group")
</div>